@use '@carbon/layout';

.container {
  margin-top: layout.$spacing-07;
  margin-left: layout.$spacing-07;

  .intro {
    margin-top: layout.$spacing-07;
  }

  .totalContainer {
    margin-top: layout.$spacing-07;
  }
}